{% extends 'base.html' %}
{% block content %}

    <div class="text-center pt-4 pb-2" style="background-color: #B1D5D1;">
        <h2 class="pt-3" style="font-family: fantasy; font-size: 40px;">{{ stadium.en_name }}</h2>
    </div>

    <div class="container my-4 p-3">
        <h2>{{ stadium.name }}</h2>
        <div class="row my-3">
            <div class="col-md-6 p-3">
                <h4>{{ stadium.en_name }}</h4>
                <table class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <td>Stadium Name</td>
                            <td>{{ stadium.name }}</td>
                        </tr>
                        <tr>
                            <td>Club Team</td>
                            <td>{{ stadium.club_name }}</td>
                        </tr>
                        <tr>
                            <td>League</td>
                            <td>{{ stadium.league }}</td>
                        </tr>
                        <tr>
                            <td>収容人数</td>
                            <td>{{ stadium.num_people }} 人</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 p-3 px-2">
                <h4>直近の試合結果</h4>
                <p>今後ページを読み込んだ際に最新の情報を表示できるようにしたい</p>
                <table class="table table-striped table-hover text-center">
                    <tr>
                        <th>Date</th><th>Home Team</th><th>Score</th><th>vs.</th><th>Score</th><th>Away Team</th>
                    </tr>
                    <tr>
                        <td>2023.0.0.</td>
                        <td>Team-A</td>
                        <td>3</td>
                        <td> - </td>
                        <td>2</td>
                        <td>Team-B</td>
                    </tr>
                </table>

                <h4 class="pt-2">試合予定</h4>
                <p>今後ページを読み込んだ際に最新の情報を表示できるようにしたい</p>
                <table class="table table-striped table-hover text-center">
                    <tr>
                        <th>Date&Time</th><th>Home Team</th><th>vs.</th><th>Away Team</th>
                    </tr>
                    <tr>
                        <td>2023.0.0. --:-- ~</td>
                        <td>Team-A</td>
                        <td> vs. </td>
                        <td>Team-B</td>
                    </tr>
                </table>
            </div>
        </div>
        
        
        <div class="container py-5 align-items-center">
            <iframe id="map"
                src='https://www.google.com/maps/embed/v1/place?key=AIzaSyDXpwWA_2U7h1jwllotq047nLOOVY8RUEo&amp;q={{ stadium.place }}'
                width="100%"
                height="320"
                frameborder='0'>
            </iframe>
        </div>

        <div class="container my-3">
            <a class="btn btn-outline-primary" href="{{request.META.HTTP_REFERER}}"> < Back</a>
        </div>
    </div>

{% endblock %}